@font-face {
    font-family: 'DIN Next LT Pro Bold';
    src: url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot');
    src: url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot?#iefix') format('embedded-opentype'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff2') format('woff2'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff') format('woff'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.ttf') format('truetype'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.svg#DIN Next LT Pro Bold') format('svg');
}



.Navbar ul{

    background-color: black;
    list-style-type: none;
    margin: 0;


   
    
   
    overflow: hidden;

    
    

}
.Navbar ul li{
    
    color:  #ff4655;
    float:left;
    padding-left: 70px;
    top:15px;
    
    left: 50%;
    position: relative;
   
    font-size: 17px ;
    font-weight:400 ;
    font-family: 'DIN Next LT Pro Bold';

}



.Navbar ul li a {
    display: block;
    text-align: center;
    
     

}


:root {
    --v-red: #ff4655;
    --v-white: #ece8e1;
    --v-black: #0f1923;
    --v-outline: rgba(236, 232, 225, .5);
}

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    margin: 0;
    color: var(--v-white);
    background-color: var(--v-black);
    text-rendering: optimizeLegibility;
    




    
    background-color:  #0f1923;;
    background-size: cover;
}


#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 86vh;
    width: 50%;
}

.box {
    width: 70%;
}

.main{
    display:flex;

}

.pic{
    position: relative;
    background-color:  #ff4655;
    width:250px;
    
    overflow:hidden;
    height:670px;
}


.search-container {
    text-align: center;
    margin-top: 50px;
    width:200px;
    position: relative;
    left:50px;
}

#search-input {
    font-family: 'DIN Next LT Pro Bold';
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 950px;
    font-size:large;

}

.button{
    
    position: relative;
    left:900px;
    margin-top: 33px;
    width:200px;
    
}


button {
    font-family: 'DIN Next LT Pro Bold';
    font-size: 1.9rem;
    font-weight: 400;
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    padding: .7rem;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--v-white);
    border: 0;
    background-color: transparent;
    
    
}

button:hover {
    color: var(--v-white);
}

button::before, button::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(50% - .4rem);
    content: '';
    border: 1px solid var(--v-outline);
    background-color: transparent;
}

button::before {
    top: 0;
    border-bottom: 0;
}

button::after {
    bottom: 0;
    border-top: 0;
}

/* Hover Effect */

.hover-effect {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -5%;
    width: 110%;
    height: 100%;
    content: '';
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transform: translateX(-100%) skew(-10deg);
    background-color: var(--v-red);
}

button:hover .hover-effect {
    transform: translateX(0) skew(-10deg);
}

/* LABEL  */

.label {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.label:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

/* Label Text */

.label-text {
    position: relative;
    z-index: 1;
    display: block;
    padding: 1.9rem 3rem;
}

/* Right Bottom Corner dot */

.label-text:after {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: .6rem;
    height: .6rem;
    content: '';
    transition: background-color .2s ease-in;
    background-color: var(--v-black);
}

button:hover .label-text:after {
    background-color: var(--v-white);
}

/* PRIMARY BUTTON */

.primary {
    color: var(--v-black);
}

.primary .label::before {
    background-color: var(--v-white);
}





/* OUTLINE BUTTON */

.outline {
    color: var(--v-white);
}

.outline .label::before, .outline .label::after {
    border: 1px solid var(--v-outline);
}

/* OUTLINE RED BUTTON */

.outline+.red {
    color: var(--v-red);
}

.outline+.red:hover {
    color: var(--v-white);
}

.outline+.red .label::before, .outline+.red .label::after {
    border-color: var(--v-red);
}

.content{
    margin-left: -100px;
    margin-right: 100px;
    margin-top: 150px;
    text-align: center;
    
    width:1200px;
    
    position:relative;
    font-family: 'DIN Next LT Pro Bold';
    font-size:large;

}






