@font-face {
    font-family: 'DIN Next LT Pro Bold';
    src: url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot');
    src: url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.eot?#iefix') format('embedded-opentype'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff2') format('woff2'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.woff') format('woff'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.ttf') format('truetype'), url('//db.onlinewebfonts.com/t/3a88649e176a40a6d80b395ca0ae430d.svg#DIN Next LT Pro Bold') format('svg');
}


body{
    
    background-color: #0f1923;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    background-repeat: no-repeat;
}








.main{
    background-image: url("../static/agent.jpg");
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 100px;   
    width:1100px;
    height:400px;
    left:8%;
    top:60px;
    
    
}





  
  .login-form {
    background-image: url("../static/omen.jpg");
    background-size: cover;
    width: 900px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;

  }
  .login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
    
    
  }
  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    background-color: #e8e9ec00;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form a.link {
    text-decoration: none;
    color:#ffffff;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
            
  }
  .login-form .action button {
    width: 579.5%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #454d5b;
    color:#fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background-color:#0f1923;
  }
  .login-form .action button:nth-child(2) {
    background:#0f1923;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login-form .action button:nth-child(2):hover {
    background: #454d5b;
  }
  .header{

    font-family: 'DIN Next LT Pro Bold';
    color: #ff4655;
  }