<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatAI</title>
    <link rel="stylesheet" href="../static/chat.css">


    
    
    
    
</head>
<body>
    
  <div class = "Navbar">
    <ul>
        <li style = " padding-top: 6px; left:2%; font-size: x-large;">SPEAK WITH OUR AI </li>
        
        <li >
            <a  style  = "text-decoration: none"   href="{{url_for('home')}}">
                <button class="home" type="button">HOME</button>
            </a>
            </li>
        
        <li>
            <a  style  = "text-decoration: none"  href="{{url_for('about')}}">
                <button class="pricing" type="button">ABOUT</button>
            </a>
            </li>
        
        <li>
            <a  style  = "text-decoration: none"  href="https://bard.google.com/faq">
                <button class="about" type="button">HELP</button>
            </a>
            </li>
    
        
    </ul>
</div>



    <div class="main" style="display: flex;">
        <div class="pic"></div>
        <div class="search-container">
            <form action="{{ url_for('chat_route') }}" method="post">
                <input type="text" id="search-input" name="query" placeholder="ASK ANYTHING">
                <button class="primary" type="submit" name="Generate" value="gen" style = "left:1000px; top:-57px;">
                    <div class="label">
                        <span class="hover-effect"></span>
                        <span class="label-text">Generate</span>
                    </div>
                </button>
            </form>
        </div>
        <div class="content" >
            <p style="color: aliceblue; top:500px;">{{ value }}</p>
        </div>
    </div>
</body>
</html>