<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="../static/signup.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
  

</head>
<body>
    
    <div class = "main">

        




        <div class="login-form">
            
              <div class  = "header">
                <h1  >BECOME AN AGENT</h1>
              </div>

              <form method = "post">
              
                <div class="content">
                        <div class="input-field">
                            <input type="text" id  = "username" placeholder="CREATE THE AGENT ID:" name="username">
                        </div>
                        <div class="input-field">
                            <input type="password" id = "password" placeholder="PASSWORD" name="password">
                        </div>
                        
                </div>
                <div class="action">
                    <a  style  = "text-decoration: none"  href="{{url_for('chat_route')}}">
                        <button type="submit" >BECOME AN AGENT</button></a>
                  
                </div>
            </form>
        </div>
          




    </div>
</body>
</html>